################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
Week7 - Feature HAAR HOG/vdo/cat-feature-export.avi
Week7 - Feature HAAR HOG/vdo/cat-feature-export.mp4
